@page
@model Delivery_logistics_system.Pages.AdminordersModel
@{
	Layout = "AdminLayout";
}

<body>
	<head>
		<title>Orders table</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="../wwwroot/css/AdminOrdersTable/style.css">

	</head>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<br />
					<h2 class="heading-section">Orders</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Order ID</th>
									<th>Sender</th>
									<th>Driver</th>
									<th>Date</th>
									<th>Shipping methode</th>
									<th>Status</th>
									<th>Workflow</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1001</th>
									<td>Mark Otto</td>
									<td>jone</td>
									<td>25/5/2024</td>
									<td>Express</td>
									<td><a href="#" class="btn btn-warning">Pickup</a></td>
									<td><a href="#" class="btn btn-success">Standard</a></td>
								</tr>

								<tr>
									<th scope="row">1002</th>
									<td>Mohamed Khaled</td>
									<td>Ahmed</td>
									<td>2/4/2024</td>
									<td>3 Days</td>
									<td><a href="#" class="btn btn-warning">Pickup</a></td>
									<td><a href="#" class="btn btn-warning">In Warehouse</a></td>
								</tr>

								<tr>
									<th scope="row">1003</th>
									<td>Abo Ali</td>
									<td>Elly</td>
									<td>2/3/2024</td>
									<td>4 Days</td>
									<td><a href="#" class="btn btn-success">Delivery</a></td>
									<td><a href="#" class="btn btn-danger">Return</a></td>
								</tr>

								<tr>
									<th scope="row">1004</th>
									<td>Almoana</td>
									<td>Salma</td>
									<td>22/4/2024</td>
									<td>Express</td>
									<td><a href="#" class="btn btn-danger">Faild</a></td>
									<td><a href="#" class="btn btn-danger">Return</a></td>
								</tr>

								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../wwwroot/js/AdminOrdersTable/jquery.min.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/popper.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/bootstrap.min.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/main.js"></script>

</body>