@page
@model Delivery_logistics_system.Pages.AdmindriversModel
@{
	Layout = "AdminLayout";
}
<body>
	<head>
		<title>Orders table</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="../wwwroot/css/AdminOrdersTable/style.css">

	</head>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<br />
					<h2 class="heading-section">Drivers</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Driver ID</th>
									<th>Name</th>
									<th>Vehicle Plate No.</th>
									<th>Shift Start</th>
									<th>Shift End</th>
									<th>Availability</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Ahlmohana</td>
									<td>ABC-9594</td>
									<td>13:00</td>
									<td>21:00</td>
									<td><a href="#" class="btn btn-success"></a>On Dutty</td>
								</tr>

								<tr>
									<th scope="row">2</th>
									<td>Mohamed</td>
									<td>AUC-7510</td>
									<td>8:00</td>
									<td>16:00</td>
									<td><a href="#" class="btn btn-warning"></a>Off Dutty</td>

								<tr>
									<th scope="row">3</th>
									<td>Sara</td>
									<td>KLM-9703</td>
									<td>8:00</td>
									<td>19:00</td>
									<td><a href="#" class="btn btn-success"></a>On Dutty</td>
								</tr>

								<tr>
									<th scope="row">4</th>
									<td>Jone</td>
									<td>EGY-0065</td>
									<td>9:00</td>
									<td>15:00</td>
									<td><a href="#" class="btn btn-warning"></a>Off Dutty</td>
								</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../wwwroot/js/AdminOrdersTable/jquery.min.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/popper.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/bootstrap.min.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/main.js"></script>

</body>