@page
@model Delivery_logistics_system.Pages.AdmincontactModel
@{
	Layout = "AdminLayout";

}
<body>
	<head>
		<title>Orders table</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="../wwwroot/css/AdminOrdersTable/style.css">

	</head>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<br />
					<h2 class="heading-section">Complaints & Feedback </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Feedback ID</th>
									<th>Customer ID</th>
									<th>Type</th>
									<th>Content</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>455</td>
									<td>Complaint</td>
									<td>I hope this message finds you well. I recently purchased the SmartGadget 3000, and I wanted to take a moment to share my thoughts on this device. Having used it extensively over the past few weeks, I feel well-placed to provide some constructive feedback.</td>
								</tr>

								<tr>
									<td>2</td>
									<td>949</td>
									<td>Feedback</td>
									<td>Weight and Size: While the build quality is impressive, the device is somewhat heavier and bulkier than I anticipated. This aspect makes it a bit cumbersome during long periods of use, especially when traveling.</td>
								</tr>

								<tr>
									<td>3</td>
									<td>043</td>
									<td>Contact</td>
									<td>I have a new colobrative work offer</td>
								</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../wwwroot/js/AdminOrdersTable/jquery.min.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/popper.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/bootstrap.min.js"></script>
	<script src="../wwwroot/js/AdminOrdersTable/main.js"></script>

</body>

