@page
@model Delivery_logistics_system.Pages.AdminMainInterfaceModel
@{
	Layout = "AdminLayout";

}

<body>

    <!-- Carousel Start -->
    <section>
        <!-- Orders section -->
        <div class="container">
            <h2 class="page-title">Orders</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-card">
                        <h3>New</h3>
                        <p>New Orders: 10</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-card">
                        <h3>In Progress</h3>
                        <p>In Progress Orders: 5</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-card">
                        <h3>Completed</h3>
                        <p>Completed Orders: 20</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- Members section -->
        <div class="container">
            <h2 class="page-title">Members</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-card">
                        <h3>Active Drivers</h3>
                        <p>Counter: 3</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-card">
                        <h3>Inactive Drivers</h3>
                        <p>Counter: 2</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-card">
                        <h3>Managers</h3>
                        <p>Counter: 3</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- Resources section -->
        <div class="container">
            <h2 class="page-title">Resources</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="info-card">
                        <h3>Vehicles</h3>
                        <p>Number Of Vehicles: 5</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-card">
                        <h3>Warehouses</h3>
                        <p>Counter: 2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Carousel End -->


</body> 